@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
   
}


nav{
    background-color: #edf3ff ;
    min-height: 5vh;
    display: flex;
    justify-content:space-between;
    padding: .6rem;
    
    
    
    
    
}
nav,h1{
    font-size: 120%;
    color: rgb(51, 116, 255);
}
.supermain{
    display: flex;
    background-color: #edf3ff ;
    
}
.main{
   
  
    flex: 2 1 0;
}
.cardscontainer{
    display: flex;
    text-align: center;
    
    
}
.cards{
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    padding: 1rem;
    width: 9rem !important;
    height: 9rem;
    margin: 1.4rem;
    border-radius: 1rem;
    background-image: linear-gradient(180deg, #837bff, #d9d9d9cf);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgb(0 30 255 / 39%), 0 6px 20px 0 rgb(0 0 0 / 19%);

}
.sidecard{
   
    min-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.maincard{
    height: 30rem ;
    width: 25rem;
    border: solid black 1px;
    /* flex: 1 1 0; */
    margin: 1rem;
    border-radius: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.39), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: none;

}
.secondarycontainer{
    display: flex;
}
.tcards{
    height: 40rem;
    width: 30rem;
   
    margin-right: 2rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card1{
  
    height: 18rem;
    width: 27rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.39), 0 6px 20px 0 rgb(0 0 0 / 19%);
   
}
.card2{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.39), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    height: 18rem;
    width: 27rem;
    border-radius: 3rem;
    
    
}
.card3{
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.39), 0 6px 20px 0 rgb(0 0 0 / 19%);
    height: 40rem;
    width: 30rem;
    border-radius: 3rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sec{
    height: 7rem;
    width: 25rem;
    border: solid black 2px;
    border-radius: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.39), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: none;

}
.sec2{
    margin-top: 1rem;
    height: 7rem;
    width: 25rem;
    border: solid black 2px;
    border-radius: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.39), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: none;

}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input{
    margin-top: 1rem;
    height: 0rem;
    width: 100%;
    border-radius: 100px;
    border: .5px solid #0000004a;
    padding: 2rem;
    font-size: 120%;
    background-color: white;
    
}

.cards,img{
    width: 75px;
}

.outercircle{
    margin-bottom: 4rem;
    background: conic-gradient(#837bff 300deg ,#edf3ff 0deg);
    width: 21rem;
    height: 20rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innercircle{

    width: 17rem;
    height: 17rem;
    background-color: white;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.innercircle,h1{
    font-size: 180%;
    color: black;
}